feedparser==6.0.11
guarddog==2.6.0
joblib==1.4.2
matplotlib==3.9.0
matplotlib-inline==0.1.7
nltk==3.8.1
notebook==7.2.1
numpy==1.26.4
pandas==2.2.2
packaging==25.0
Pygments==2.17.2
requests==2.32.3
scikit-learn==1.4.2
scikit-optimize==0.10.2
scipy==1.13.1
seaborn==0.13.2
semgrep==1.121.0
xgboost==2.0.3